@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/Pantalla.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Hero-Section a{
  text-decoration: none;
  color: rgb(128, 110, 110);
}

#Hero-Section i{
  color:rgb(122, 120, 120);
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}

#Mis-trabajos a:hover{
  text-decoration: none;
  color:rgb(19, 19, 19);
}
.display-1{
  color: aqua;
}

/*Acerca de mi - Iconos*/
#Acerca-de-mi{
  background-color: rgba(255, 255, 255, 0.822);
  background-image: url(../img/trabajo.jpg);
  background-repeat: no-repeat;
  background-blend-mode:lighten;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#Acerca-de-mi i{
  font-size: 55px;
}

/* Contacto */

#Contacto form label {
  font-weight: 600;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 90px;
  }

}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, .logo {
  font-family: 'Ubuntu', sans-serif;
}

/* Hero */

.hero {
  background-image: url('../assets/img/bg-hero.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #747576;
}

.pfp {
  background-image: url(../assets/img/pfp.jpg);
  background-position: center;
  background-size: contain;
  background-color: #17191a;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3)
}

.hero p {
  margin-bottom: 0.7rem;
  line-height: 1.5rem;
}

/* Navbar */

.logo {
  font-size: 2rem;
  font-weight: 700;
  transition: all 250ms ease;
}

.logo:hover {
  color: #00ccff;
}
